h1{color: aqua;text-align: center;text-decoration: underline dashed steelblue;text-underline-offset: 15%;}
body{background-image: url(fondo.jpg)}
p{color: springgreen;margin-left: 34%;margin-right: 34%}
h2{text-align: center ;color: skyblue;text-decoration: underline wavy steelblue;}